/*this is the styles page bro get over it */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100px;
  /* background-color: #dfe2e6; */
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-container {
  flex-basis: 359px;
  background-color: #1f2937;
  color: white;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;

}

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8px;
  flex-wrap: wrap;
}
.nav ul {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}
.left-main {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main img{
flex-shrink:10 ;

}




.main {
  display: flex;
  align-items: center;
  height: 70%;
  justify-content: center;
  flex-wrap: wrap;
}


.img-container{
  display: flex;
  gap: 17px;
  justify-content: center;
  flex-wrap: wrap;

}



.mid img {
  width: 150px;
  height: 150px;
}
.left-main .heading {
  font-size: 2em;
  font-weight: 800;
}

a {
  color: white;
}

.main img {
  width: 200px;
  height: 200px;
}
li > a {
  background-color: #3882f6;

  padding: 10px 29px;

  font-size: 18px;
  border-radius: 15px;
}
.left-main p:nth-child(2) {
  padding: 5px;
  margin-bottom: 8px;
  font-family: sans-serif;
  width: 70%;
}

.mid {
  background-color: #f7f8f9;
  flex-basis:410px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

}

.mid p:nth-child(1) {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  color: #1f2937;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.mid .img-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* width: 100vw; */
  gap:15px;
  
}
div.img-single{

border:5px solid #3882f6;
flex-direction: column;
height: max-content;
width: max-content;
display: flex;
border-radius: 33px;
align-items: center;
padding: 10px;

}

.img-single li:nth-child(2){
  font-weight: 100;
}





.quote {
  flex-basis: 250px;
  background-color: #e5e7eb;
  display: flex;
  padding: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.quote q:nth-child(1) {
    
  font-size: 1.5em;
  font-style: italic;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-weight: 10;
  color:#1f2937
}
.quote q:nth-child(2) {
}
.quote li{
  font-weight: 800;
  font-size: 0.8em;
  margin-right: 30px;
  align-self: flex-end;
}
q::before,::after{
  align-self: flex-start;
/* justify-content: flex-start; */
}
.call-container{
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  justify-content: center;
  align-items: center;
  

  /* padding: 80px; */

}

.call-to-action{
  display: flex;
  justify-content: space-around;
  padding: 25px 60px;
 /* flex-basis:250px; */
height: 70%;

  width: 60vw;
  background-color:#3882f6;
  margin: 40px;
  border-radius: 10px;
  flex-wrap: wrap;
  font-weight: 100;
  /* box-sizing: border-box; */
  
}
.call-to-action .left-call > li{
  font-size: 15px;
  font-weight: 100;
  padding: 0;
  color: white;

  


}
.call-to-action .right-call >a{
  font-size: 17px;
  
  color: white;
  border: 2px solid #f7f8f9;
  border-radius: 10px;
  padding: 7px 25px;
  font-weight: 600;

  


  
}
.call-to-action .right-call{
  align-self: center;
}
.left-call{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.left-call li:nth-child(1)
{
  align-self: flex-start;
  /* box-sizing: border-box; */
  /* font-weight: 400; */
  color: white;
  font-size: 23px;

}
.call-container .call-to-action li:nth-child(1){

  font-weight: 600;
}



.right-call{
  display:flex;
  justify-content: center;
  align-items: center;
}

footer
{
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #e5e7eb;
  height: 100px;
  
  align-items: center;
  flex-wrap: wrap;
}